<form method='POST' action='/edit-place'>
    <label for='input-name'>Place name</label>
    <input id='input-name' type='text' placeholder='Name' name='name' value={{place.name}}></input>
    <label for='input-type'>Place type</label>
    <button>Edit place</button>
</form>